/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

.content h2 {
    padding-top: 0.55em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    background-color: #f6f6f6; 
    font-weight: bold;
    font-size: 1.4em;
  }